<configuration>
<springProperty scope="context" name="app-name" source="spring.application.name"
        defaultValue=""/>
	<contextName>${app-name}</contextName>
<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>logs/%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}] %m%n</pattern>
    </encoder>
  </appender> 

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}] %m%n</pattern>
    </encoder>
  </appender>
  <appender name="MESSAGEAPPENDER" class="com.yyn.base.log.appender.MessageAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}] %m%n</pattern>
    </encoder>
  </appender>
  <logger name="messageAppenderLogger" level="OFF" >
  	<appender-ref ref="MESSAGEAPPENDER" />
  </logger>  
<springProfile name="production">
	<logger name="com.yyn" level="INFO" />
	<root level="ERROR">
		<appender-ref ref="FILE" />
	</root>
</springProfile>
<springProfile name="!production">
	<logger name="com.yyn" level="DEBUG" />
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</springProfile>
</configuration>